.DS_Store

node_modules/

.env
.env.local
.env.*.local

backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local
backend/uploads/


frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/.env.*.local

frontend/dist/
backend/dist/

frontend/build/
backend/build/

sql_scripts/